doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
	title Document
	link(rel="stylesheet", href="estilos.css")
body
	.depar-modulo
		.wp
			//- CONTROLES
			.caja.menu 
				h1 Elige tu departamento ideal
				.acordeon
					#azul.modelo
						h2 Modelo azul
						.sub
							ul
								li 12 Unidades 108m2
								li 3 Recamaras y 2 Baños
								li Sala - Comedor y Balcón
								li 2 Cajones de estacionamiento
							a.btn(href="#") Ver departamento
					
					#amarillo.modelo
						h2 Modelo amarillo
						.sub
							ul
								li 12 Unidades 108m2
								li 3 Recamaras y 2 Baños
								li Sala - Comedor y Balcón
								li 2 Cajones de estacionamiento
							a.btn(href="#") Ver departamento
					
					#verde.modelo
						h2 Modelo verde
						.sub
							ul
								li 12 Unidades 108m2
								li 3 Recamaras y 2 Baños
								li Sala - Comedor y Balcón
								li 2 Cajones de estacionamiento
							a.btn(href="#") Ver departamento
							
					#rojo.modelo
						h2 Modelo rojo
						.sub
							ul
								li 12 Unidades 108m2
								li 3 Recamaras y 2 Baños
								li Sala - Comedor y Balcón
								li 2 Cajones de estacionamiento
							a.btn(href="#") Ver departamento
				
				.botones
					ul
						li.btn
							a.btn(href="#") Vista aérea 1
						li.btn
							a.btn(href="#") Vista aérea 2
						li.btn
							a.btn(href="#") Vista por piso
				
				.video
					a.lightbox(href="#")
						img(src="http://afinia.mx/v1/wp-content/uploads/2015/11/video-largoc3b9.jpg", alt="")
					
			
			
			//- EDIFICIO
			.caja.edificio 
				.wp
					.por-nivel
						.nivel-terraza 
							a(href="") Sky Lounge
						.nivel-10 
							a(href="") Nivel 10
						.nivel-9 
							a(href="") Nivel 9
						.nivel-8 
							a(href="") Nivel 8
						.nivel-7 
							a(href="") Nivel 7
						.nivel-6 
							a(href="") Nivel 6
						.nivel-5 
							a(href="") Nivel 5
						.nivel-4 
							a(href="") Nivel 4
						.nivel-3 
							a(href="") Nivel 3
						.nivel-2 
							a(href="") Nivel 2
						.nivel-8 
							a(href="") Nivel 8
						.nivel-7 
							a(href="") Nivel 7
						.nivel-6 
							a(href="") Nivel 6
						.nivel-5 
							a(href="") Nivel 5
						.nivel-4 
							a(href="") Nivel 4
						.nivel-5 
							a(href="") Nivel 5
						.nivel-4 
							a(href="") Nivel 4
						.nivel-3 
							a(href="") Nivel 3
						.nivel-2 
							a(href="") Nivel 2

					#por-modelo.por-modelo
						#modelo-azul.color
							img(src="http://afinia.mx/v1/wp-content/uploads/2015/11/depas-azul.png", alt="")
						#modelo-amarillo.color
							img(src="http://afinia.mx/v1/wp-content/uploads/2015/11/depas-amarillo.png", alt="")
						#modelo-verde.color
							img(src="http://afinia.mx/v1/wp-content/uploads/2015/11/depas-verde.png", alt="")
						#modelo-rojo.color
							img(src="http://afinia.mx/v1/wp-content/uploads/2015/11/depas-rojo.png", alt="")
					
					.edificio
						img(src="http://afinia.mx/v1/wp-content/uploads/2015/11/planokoloria.jpg", alt="")

				
	
	script(src="http://code.jquery.com/jquery-1.11.3.min.js")
	script(src="funciones-codelog.js")ºº